.container {
  color: var(--colors-primary);
  background-image: url('../public/menu-border-g-s.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  line-height: 2rem;
  padding: .8rem 1.1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  width:auto;
  transition: color .25s ease, background-image .25s ease;
}

.container:hover {
  color: var(--colors-accent);
  background-image: url('../public/menu-border-g.png');
  transition: color .25s ease, background-image .25s ease;
}

.containerSecondary {
  color: var(--colors-primary);
  background-image: url('../public/menu-border-w.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  line-height: 2rem;
  padding: .8rem 1.1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  width:auto;
  transition: color .25s ease, background-image .25s ease;
}

.containerSecondary:hover {
  color: var(--colors-accent);
  background-image: url('../public/menu-border-w-s.png');
  transition: color .25s ease, background-image .25s ease;
}
