.container {
  color: var(--colors-accent);
  background-image: url("../public/menu-border-w-s.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  line-height: 2rem;
  padding: .7rem 1.1rem;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  width:auto;
  transition: color .25s ease, background-image .25s ease;
}

.container:hover {
  color: #fff;
  background-image: url('../public/menu-border-w.png');
  transition: color .25s ease, background-image .25s ease;
}

.containerBg {
  color: var(--colors-accent);
  background-image: url("../public/menu-border-g.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  line-height: 2rem;
  padding: .7rem 1.1rem;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  width:auto;
  transition: color .25s ease, background-image .25s ease;
}

.containerBg:hover {
  color: #fff;
  background-image: url('../public/menu-border-g-s.png');
  transition: color .25s ease, background-image .25s ease;
}